@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nixie+One&display=swap');

:root {
    --bg-color: #077054;
    --main-bg-color: #ffffff;
    --nav-text-color: #315f52;
    --main-heading-color: #99fa99;
    --light-text-color: #b6d8cf;
    --nav-link-on-hover: #D398BD;
    --nav-link-active: #73C654;
    --text-on-about: #D1FFFF;
    --home-text: #21A51E;
    --form-field-bg: #D1D3D4
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--nav-text-color);
    display: flex;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 960px;
    max-width: 100%;
    background-color: var(--main-bg-color);
    margin: 1px 195px 0 195px;
    padding: 45px 40px 46px 40px;
    min-height: 827px;
}

.header {
    padding: 30px 0 30px 0;
    text-align: center;
    line-height: 50px;
    background-color: var(--bg-color);
}

.header__heading {
    color: var(--main-heading-color);
    font-size: 50px;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.header__subtitle {
    font-family: 'Nixie One', cursive;
    font-size: 26px;
    text-transform: uppercase;
    color: var(--light-text-color);
}


.navbar {
    background-color: #077054;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-evenly;
    padding-bottom: 7px;
}

.navbar__links {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.navbar__link {
    padding: 0 46px 0 46px;
    color: var(--light-text-color);
}

.navbar__link:active {
    color: var(--nav-link-active);
}

.navbar__link:hover {
    color: var(--nav-link-on-hover);
}

.navbar__link--dropdown {
    padding: 0;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    list-style-type: none;
    text-align: center;
    line-height: 46px;
    background-color: #077054;
    transform: translateX(-45px);
}

.navbar__link--dropdown li {
    padding: 0 20px 0 20px;
}

.navbar__link:hover>.navbar__link--dropdown {
    visibility: visible;
    opacity: 1;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}

.home__content {
    flex-direction: column;
    text-align: center;
    font-family: 'Nixie One', cursive;
    font-size: 90px;
    color: var(--home-text);
    width: 510px;
}

.home__separator {
    background-image: url('./images/bg-separator.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding: 0 0 55px 0;
    text-align: center;
    text-transform: uppercase;
}

.home__text {
    padding: 43px 0 0 0;
}

.women {
    flex: 1;
}

.women img {
    margin: 0 38px 46px 30px;
    width: 283px;

}

.footer {
    width: 960px;
    margin: 0 195px 0 195px;
    padding: 30px 0 60px 0;
    display: flex;
    justify-content: space-between;
}

.footer__contact span {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    color: var(--main-heading-color);
}

.footer__contact p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: var(--light-text-color);
}

.footer__connect span {
    margin: 0 0 0 28px;
}

.heading {
    font-family: 'Nixie One', cursive;
    font-size: 35px;
    font-weight: 300;
    padding: 0 0 15px 0;
    color: var(--home-text);
}

.heading--moved {
    padding: 0 0 44px 0;
}

.section {
    display: flex;
    padding-bottom: 20px;
}

.section__text {
    display: flex;
    flex-direction: column;
    width: 510px;
}

.artcile--moved {
    padding: 35px 0 0 0;
}

.article__title {
    font-family: 'Nixie One', cursive;
    font-size: 23px;
    font-weight: 100;
    padding: 23px 0 0 0;
}

.article__description {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 30px
}

.article__timing {
    display: block;
    line-height: 30px;
}

.gallery {
    display: flex;
    width: 510px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.figure:nth-of-type(3),
.figure:nth-of-type(4) {
    transform: translateY(-60px);
}

.figure__caption {
    text-align: center;
    font-family: 'Nixie One', cursive;
    font-size: 18px;
    padding: 12px 0 0 0;
}

.contact-container,
.form-container {
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 210px 0 210px;
    border: none;

}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__title {
    font-family: 'Nixie One', cursive;
    font-size: 23px;
    font-weight: 100;
    line-height: 30px;
    padding: 15px 0 0 0;
}

.form__fieldset {
    width: 100%;
    border: none;

}

.form__label {
    max-width: 250px;
    padding: 15px 0 0;
}

.form__label span {
    padding: 5px 0 0;
    line-height: 27px;
    display: block;
}

.form__field {
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding: 10px 0;
    background-color: var(--form-field-bg);
    padding: 0 5px;
    border: 1px solid #b6d8cf;
    color: #315f52;
}

.textarea {
    height: 250px;
    line-height: 30px;
    resize: none;
    overflow: auto;
}

.form__button {
    width: 50px;
    height: 30px;
    align-self: flex-end;
    background-color: var(--bg-color);
    color: var(--nav-link-active);
    border: none;
    border-radius: 5px;
    margin: 8px 0;
}
.form__button:hover{
    background-color: var(--nav-link-on-hover);
    color: #000;
}

.heading--padded {
    padding: 0 0 44px 0;
}

.blog {
    display: flex;
    flex-direction: column;
    height: 448px;
}

.article__post {
    display: flex;
    align-items: center;
}

.article__post img {
    margin: 0 20px 0 0;
}

.article__post span {
    line-height: 30px;
}

.article__post:nth-of-type(2),
.article__post:nth-of-type(3) {
    padding: 104px 100px 0 0;
}

.article__postTitle {
    font-family: 'Nixie One', cursive;
    font-size: 23px;
    font-weight: 100;
}

.article__postTitle:hover {
    text-decoration: underline;
    text-decoration-color: var(--nav-text-color);
    text-decoration-thickness: 2px;
}

.article__date {
    display: block;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.article__paragraph {
    max-width: 570px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.article__paragraph:nth-of-type(1) {
    padding: 0 0 30px 0;
}

.single-post {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.aside {
    flex-basis: 259px;
    width: 100%;
}

.artcile__items {
    padding: 20px 0 0 0;
    height: 338px;
}

.article__item {
    list-style-type: none;
    border-bottom: 1px solid #315f52;
}

.article__item:nth-of-type(1) {
    padding: 0 0 28px 0;
}

.article__item:nth-of-type(2) {
    padding: 18px 0 28px 0;
}

.article__item:nth-of-type(3) {
    border: none;
    padding: 18px 0 28px 0;
}

.title {
    font-family: 'Nixie One', cursive;
    font-size: 18px;
    font-weight: 100;

}

.title:nth-of-type(1) {
    padding: 12px 0 0 0;
}